body{
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;   
}
.row{
    padding-top: 50px;
    width: 50%;
}
p{
    font-size: 15px;
    margin: 0;
    padding:0;
}
li , ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Menu section ---------------------------------------------- */
#top-bar{
    padding: 10px;
}
#top-bar .row{
    width: 100%;
    padding: 0 0 0 30px;
}

.logo a{
    text-decoration: none;
    display: inline-block;  
}

.nav li{
	float: right;

}
.nav li a{
	text-decoration: none;
    display: inline-block;
	color: black;
	font-size: 25px;
	font-weight: 700;
	padding: 20px;
\\
}
.nav li a:hover{
	background-color: skyblue;
    border-radius: 10px;
}

/* top section ---------------------------------------------- */

#top{
    background-image: url(./image/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-color{
    color: blueviolet;
}
.head-title{
    padding: 20px 0 0 50px;
    font-size: 30px;
    line-height: 10px;
}
.head-description{
    padding-left: 50px;
}
.head-sort{
    padding-left:50px;
}
.order-now{
    padding: 20px 0 20px 50px;
    margin-top:25px;
}
.order-now a{
    background-color: purple;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.order-now a:hover{
    color: white;
    background-color: black;
}
.head-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* second section ---------------------------------------------- */

#about{
    background-image: url(./image/Frame-57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about .row{
    padding: 50px;
}
#about .head-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#about .head-description{
    text-align: justify;
    font-size: 13px;
}

/* Blog section ---------------------------------------------- */

#blog{
    background-color: lightgray;
    padding: 100px 0;
}
#blog .blog-head{
    text-align: center;
    padding: 0 200px;
    margin-bottom: 50px;
}
.blog-head .head-title{
    padding-bottom: 25px;
    margin: 0;
}

#blog .container{
    padding: 0 50px;
}
.blog-row{
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 6px 8px 5px black ;
    width: 33.33%;
    padding: 15px;
    margin: 0px 30px;
}
.blog-row img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.recipie-description{
    font-size: 14px;
    margin-bottom: 30px;
}
.blog-row a{
    text-decoration: none;
    padding: 10px;
    background-color: green;
    color: black;
    border-radius: 10px;
}
.blog-row a:hover{
    background-color: black;
    color: green;
}
/* Option section ---------------------------------------------- */

#option-a{
    margin-top: 50px;
    margin-bottom: 50px;
}
#option-a .container{
    max-width: 80%;
    background-color:whitesmoke;
    position: relative;
    left: 10%;
    right: 10%;
    top: 10%;
    border-radius: 10px;
    box-shadow: 6px 8px 5px black ;
}
.option{
    width: 33.33%;
    padding-left: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.option-title{
    font-size: 40px;
    line-height: 0;
}

/* Footer section ---------------------------------------------- */

#footer-part .container{
    background-color: dimgray;
    min-height: 200px;
}
.footer-row{
    text-align: center;
    margin: 0 auto;
}
.footer-title{
    padding-top: 35px;
    font-size: 40px;
    line-height: 0;
}
.co{
    color: seagreen;
}
.ca{
    color: salmon;
}
.footer-description{
    font-size: 13px;
    font-weight: 700;
}

/* Footer section ---------------------------------------------- */

#post{
    background-image: url(./image/M6A9357.jpg);
}
.post-container{
    background-color: rgba(0, 0, 0, 0.596);
}
.post-title{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
}

